body {
  background-color: #defafa;
}

.boardCellBorder {
  background-color: #d4b30d;
  border-radius: 50%;
  margin: 7px;
  position: relative;
  height: 115px;
  width: 115px;
}

.boardColumn {
  display: inline-block;
  border: #fffb04 solid 1px;
}

.boardFrame {
  background-color: #e2df37;
  margin: 0 auto;
  text-align: center;
}

.cells {
  border: #c2cade00 solid 15px;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70px;
  width: 70px;
  transform: translate(-50%, -50%);
}

.clear {
  background-color: #defafa;
}

.red {
  background-color: #b91500;
  border-color: #d00707;
}

.black {
  background-color: #000000;
    border-color: #232222;
}